<div class="image-details">
  <div class="image-container">
    <img ng-src="{{ $ctrl.image.url }}" />
  </div>
  <div class="comments-container" ng-if="$ctrl.image">
    <div class="comment-list">
      <div ng-repeat="comment in $ctrl.image.comments">
        {{ comment }}
      </div>
    </div>
    <div>
      <textarea ng-model="$ctrl.pendingComment"></textarea>
      <button ng-click="$ctrl.submit()" ng-disabled="!$ctrl.pendingComment || $ctrl.isSaving">
        {{ $ctrl.isSaving ? 'Saving...' : 'Comment' }}
      </button>
    </div>
  </div>
</div>
